<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
</head>
<body>
    <h1 class="titulo espacamento" id="titulo">Bem vindo ao Criador de Quiz</h1>
    <p>Selecione um quiz para participar ou crie um novo</p>
    <a href="/novo">Novo</a>

    <div id="divisao">
        <button>BOTAO</button>

        <label>
            <input>
        </label>
    </div>
</body>
</html>